
{% extends 'base_main.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript" src="/static/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id',{
                    uploadJson:'/util/upload/kindeditor'
                });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="rt_wrap">

        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">商品详情</h2>
                <a class="fr top_rt_btn" href="/goods/goods_list/">返回商品列表</a>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <section>
                    <ul class="ulColumn2">
                        <li>
                            <span class="item_name" style="width:120px;">产品详情：</span>
                            <label style="display:inline-block;padding:15px;background:#f8f8f8;">
                                <textarea id="editor_id" name="content" style="width:700px;">{{ goods.goods_desc }}</textarea>
                            </label>
                        </li>
                        <li>
                            <span class="item_name" style="width:120px;"></span>
                            <input type="submit" class="link_btn"/>
                        </li>
                    </ul>
                </section>
            </form>
        </div>
    </section>
{% endblock %}
